{% extends 'base.html.twig' %}

{% block title %}Liste des platforms{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Liste des platforms ({{ platforms|length }})</h1>

        {% if database_unavailable %}
            <p>La base de données est indisponible pour le moment.</p>
        {% endif %}

        <ul>
            {% for platform in platforms %}
                <li>
                    <strong>{{ platform.name }}</strong>
                    {% if platform.description %}
                        - {{ platform.description }}
                    {% endif %}
                </li>
            {% else %}
                <li>Aucune platform trouvée.</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
