<form method="post" action="{{ path('app_platform_delete', {'id': platform.id}) }}" onsubmit="return confirm('Supprimer cette platform ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ platform.id) }}">
    <button type="submit">Delete</button>
</form>
